#about {
    width: clamp(300px, 90%, 1024px);
    margin-top: 40px;
}

#about * {
    margin: 0;
    padding: 0;
}

#about > * {
    background-color: #272727;
    border: solid 1px transparent;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
}

#about > *:hover {
    background-color: #333;
    border: solid 1px gray;
}

#about > h1 {
    padding: 6px 5px;
    text-align: center;
}

#about > p {
    padding: 4px 6px;
}

#about > h2 {
    padding: 6px 4px;
}

#about .hardware {
    color: aquamarine;
    cursor: pointer;
}

#about .hardware:hover {
    text-decoration: underline 1px;
}