#changelog_container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 40px;
}

#changelog_container * {
    margin: 0;
    padding: 0;
}

#changelog_container > div {
    background-color: #272727;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 0;
}



#changelog_container > div:hover {
    background-color: #333;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

#changelog_container > div > * {
    width: clamp(300px, 90%, 1440px);
}

#changelog_container > div > h4 {
    font-weight: lighter;
    padding-bottom: 5px;
    width: 98%;
}

#changelog_container > * a {
    color: aquamarine;
    cursor: pointer;
}

#changelog_container > * a:hover {
    text-decoration: underline 1px;
}

#changelog_container > div > ul > li {
    line-height: 1.5;
}

#changelog_container *:target, #changelog_container *:target:hover {
    border-top: solid 1px aquamarine;
    border-bottom: solid 1px aquamarine;
    background-color: #333;
}

#changelog_container_2 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

#changelog_container_2 > div {
    margin: 0;
    padding: 0;
    background-color: #272727;
    border: solid 1px transparent;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    width: calc(100% - 2px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#changelog_container_2 > div:hover {
    background-color: #333;
    border: solid 1px gray;
}

#changelog_container_2 > div > * {
    width: clamp(300px, 90%, 1440px);
    margin: 0;
}

#changelog_container_2 > div > *:first-child {
    font-weight: lighter;
    width: calc(98% - 20px);
    padding: 10px;
}

#changelog_container_2 > div > *:last-child {
    color: gray;
    text-align: right;
    padding: 10px;
}