.form {
    margin-top: 10px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

.form > p {
    margin: 5px;
    padding: 0;
    color: gray;
}

.form > input, .form > button {
    margin: 10px 0;
    font-size: 18px;
    outline: none;
}

.form > button {
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.form > button:disabled {
    cursor: not-allowed;
}

.form #request_account {
    color: aquamarine;
    cursor: pointer;
    transition: text-decoration 0.3s linear;
    transition: color 0.1s linear
}

.form #request_account:hover {
    color: rgb(255, 238, 139);
    text-decoration: underline 1px solid;
}

.form .output {
    margin: 0;
    color: lightcoral;
    align-self: center;
}

.form .output2 {
    display: none;
}