arc/
uploads/profiles/*
g/ignominy/saves/*.ignosave
g/ignominy/w/**
g/ignominy
weeb/database
**/database/**
weeb/secret.php
kbr/*.php
!kbr/index.php
!kbr/config.php
101/encoder.php
101/image.js
108/*.png
inc/e