RewriteEngine On

# force https
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(?!localhost)
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# main redirects
Redirect /mc https://discord.gg/Ds4bfVac6J
Redirect /Ignominy /g/ignominy
Redirect /turbine /users.php?user=32
Redirect /color /s/c/colours
Redirect /colour /s/c/colours

# add missing html and php extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L]

# other config
Options -Indexes
# php_value date.timezone 'Pacific/Auckland'