#resource_container {
    width: clamp(320px, 100%, 1440px);
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 40px;
}

#resource_container > div {
    border-top: solid 1px gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-bottom: solid 1px gray;
}

#resource_container > div > h2 {
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    border-bottom: solid 1px transparent;
    background-color: #272727;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-weight: lighter;
    position: sticky;
    top: 0px;
}

#resource_container > div > h2:hover {
    background-color: #333;
    border-bottom: solid 1px gray;
}

@media screen and (min-width: 768px) {
    #resource_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #resource_container > div {
        border-right: solid 1px gray;
    }
    #resource_container > div:last-child {
        border-right: none;
    }
}

@media screen and (min-width: 1440px) {
    #resource_container > div:first-child {
        border-left: solid 1px gray;
    }
    #resource_container > div:last-child {
        border-right: solid 1px gray;
    }
    #resource_container > div {
        border-right: solid 1px gray;
    }
}

.rd {
    border-top: solid 1px gray;
    width: 100%;
    background-color: #272727;
    transition: background-color 0.1s linear;
    cursor: pointer;
}

.rd:hover {
    background-color: #333;
}

.rd:last-child {
    border-bottom: solid 1px gray;
}

.rd:hover > p:first-child {
    color: aquamarine;
}

.rd > p:first-child {
    margin: 10px;
    font-size: 18px;
    transition: color 0.1s linear;
}

.rd > p:nth-child(2) {
    margin: 5px 10px 10px 15px;
}

#portal_content {
    width: clamp(300px, 80%, 1440px);
}

#piece {
    line-height: 24px;
    margin: 40px 0;
}

.other_embed {
    position: absolute;
    left: 0px;
}