body > h1 {
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  text-align: center;
}

body > p {
  color: lightcoral;
  margin: 0;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: calc(100% - 2px);
  align-items: center;
}

form > div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: solid 1px transparent;
  align-items: center;
  transition: background-color 0.1s linear, border 0.3s linear;
}

form > div > * {
  padding: 10px 0;
}

form > div.short {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

form > div.short > * {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 5px;
}

form > div.short > div:first-child {
  justify-content: flex-end;
}

form > div.medium {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

form > div.medium > * {
  display: flex;
  flex-flow: row nowrap;
}

form > div.medium > input {
  width: 15px;
  height: 15px;
}

form div.medium2 > input {
  margin: 0 2px 0 15px;
}

form > div:hover {
  background-color: #333;
  border: solid 1px gray;
}

form textarea {
  font-family: 'Roboto', sans-serif, Calibri, 'Trebuchet MS';
  font-size: 16px;
  outline: none;
  padding: 3px;
  width: 25%;
  margin-bottom: 10px;
}

form input {
  font-size: 16px;
}

form > div > p {
  margin: 5px 0;
}

form > div > div > label:first-child {
  color: lightcoral;
}

form > div > div > label:last-child {
  color: lightgreen;
}

form > div > p > a:visited, form > div > p > a:active {
  color: aquamarine;
  transition: color 0.1s linear;
}

form > div > p > a:hover {
  color: pink;
  text-decoration: solid 1px underline;
}

form button {
  font-size: 24px;
  padding: 10px 40px;
  background-color: #333;
  border: solid 1px gray;
  color: white;
  margin-bottom: 30px;
  transition: color 0.1s linear, border 0.3s linear, background-color 0.1s linear;
}

form button:hover {
  color: lightgreen;
  border: solid 1px lightgreen;
  cursor: pointer;
  background-color: #272727;
}