#link_container {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.link_card {
    display: flex;
    flex-flow: row wrap;
    border: solid 1px transparent;
    width: 300px;
    background-color: #272727;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    margin: 5px;
}

.link_card:hover {
    border: solid 1px gray;
    background-color: #333;
}

.link_card:hover > p:first-child {
    color: aquamarine;
}

.link_card * {
    margin: 0;
    padding: 0;
}

.link_card > p:first-child {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    color: white;
    transition: color 0.1s linear;
}

.link_card > p:nth-child(2) {
    color: gray;
    padding: 0 5px;
}

.link_card > a {
    text-align: center;
    flex-grow: 1;
    padding: 3px 5px;
    color: white;
    transition: color 0.1s linear;
}

.link_card > a:hover {
    color: pink;
}
