#signup_notif {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#signup_notif > a {
    border: solid 1px transparent;
    background-color: #272727;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    margin: 0;
    margin-top: 3px;
    padding: 16px 8px;
    cursor: pointer;
}

#signup_notif > a > * {
    color: aquamarine;
}

#signup_notif > a:hover {
    background-color: #333;
    border: solid 1px gray;
    color: lightgreen;
}

#signup_notif > a:hover > * {
    color: pink;
}

.fading_notif {
    animation-name: header_notif_fade;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation: header_notif_fade 1s forwards 2s;
}

.ii_main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.ii_main > #play {
    font-size: 36px;
    letter-spacing: 1px;
    color: lightgreen;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    border: solid 1px gray;
    padding: 7px 25px;
    border-radius: 10px;
}

.ii_main > #play:hover {
    background-color:rgb(70, 70, 70);
    border: solid 1px white;
    animation-name: rbg;
}

#links {
    margin-top: 38vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#links > * {
    margin: 0 1vw;
}

#links img {
    width: 64px;
    height: 64px;
    transition: filter 0.1s linear;
}

#links img:hover {
    filter: brightness(50%);
}