#uploadMonkeyForm {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#uploadMonkeyInput {
  display: none;
}

#uploadMonkeyLabel {
  cursor: pointer;
  color: gray;
  border: solid 1px transparent;
  text-align: center;
  transition: color 0.1s linear, background-color 0.1s linear, border 0.3s linear;
  padding: 5px;
  font-size: 24px;
  width: 190px;
}

#uploadMonkeyLabel.active {
  color: rgb(255, 238, 139);
}

#uploadMonkeyLabel:hover {
  color: lightgreen;
  background-color: #333;
  border: solid 1px gray;
}

#uploadMonkeyOutput {
  border: solid 1px gray;
  overflow-y: auto;
  max-height: 600px;
  max-width: 90%;
}

#uploadMonkeyOutput > p {
  margin: 0;
  text-align: center;
  transition: background-color 0.1s linear;
  padding: 10px;
}

#uploadMonkeyOutput > p:hover, #uploadMonkeyOutput > div > h1:hover, #uploadMonkeyOutput > div > p:hover {
  background-color: #333;
}

#uploadMonkeyOutput > div > h1 {
  font-weight: lighter;
  transition: background-color 0.1s linear;
  margin: 0;
  padding: 10px;
  font-size: 24px;
  color: rgb(255, 238, 139);
}

#uploadMonkeyOutput > div > p {
  margin: 0;
  padding: 5 20px;
  transition: background-color 0.1s linear;
}

#uploadMonkeyOutput > div >p:last-child {
  padding-bottom: 10px;
}

#outputMonkey {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

#outputMonkey > img {
  max-width: 80vw;
  max-height: 60vh;
  z-index: 19;
  cursor: pointer;
}

#outputMonkeyMeta {
  color: gray;
  position: absolute;
  right: 10px;
  text-align: right;
}

#verify {
  color: gray;
  position: absolute;
  right: 10px;
}