body {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body > div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  display: flex;
  flex-flow: row wrap;
}

body > div > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 10px;
}